{% include 'header.html' %}
{% load staticfiles %}
<section class="slider-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 pt-4">
				<h1>Where Retail Investors Meet Experts</h1>              
				<div class="col-sm-12 btn-box">
					<p>A platform for top-notch, actionable, fiduciary insights by experts on the Indian Stock Market.</p>
				</div>
			</div>
			<div class="col-sm-6"></div> 
		</div> 
	</div>
</section>
<!-- Container (The Band Section) -->
<section class="section-img-step">
	<div class="container text-center">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'images/image-main-1.png' %}">
			</div>
			<div class="col-sm-6">
				<h1 class="text-left">One Stop solution for curated and orderly research.</h1>
				<p class="text-justify">Equity Research Club connects experts on Indian stock market with the aim of providing sharp, valuable and data backed insights in the most structured manner. </p>
			</div>
		</div>
	</div>
</section>
<section class="section-img-step bg-white">
	<div class="container text-center">
		<div class="row">
			<div class="col-sm-6">
				<h1 class="text-left">How is ERC different?</h1>
				<p class="text-justify">Unlike other equity research platforms, ERC helps in providing <strong>fiduciary</strong> insights contributed by the <u>pool of industry experts</u> rather than sell side analysts. </p>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'images/image-main-4.png' %}">
			</div>
		</div>
	</div>
</section>
<section class="section-img-step ">
	<div class="container text-center">
		<div class="row">
			<div class="col-sm-6">
				<h1 class="text-left">Deep Insights can be provided by Experienced Professionals too - not just Brokers or Banking Firms.</h1>
				<p class="text-justify">There are lakhs of passionate and qualified people who have unique and valuable insights on the variety of stocks which are not covered by typical research houses. This unique platform provides an opportunity for such people to share their insights and analysis.</p>
			</div>
			<div class="col-sm-6">
				<img src="{% static 'images/image-main-3.png' %}">
			</div>
		</div>
	</div>
</section>
<section class="section-img-step bg-white">
	<div class="container text-center">
		<div class="row">
			<div class="col-sm-6">
				<img src="{% static 'images/image-main-2.png' %}">
			</div>
			<div class="col-sm-6">
				<h1 class="text-left">Exhaustive List of stocks.</h1>
				<p class="text-justify">With over 5000 companies being traded every day on Indian stock market, research is available only for top 100-200 companies. ERC helps retail investors reach out to such hidden treasures which are not covered by big brokerage houses.</p>
			</div>
		</div>
	</div>
</section>
<section class="two-btn-sec py-4 ">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 py-4">
				<h1>Become a Member.</h1>
				<p>Come and join in to be part of India’s first Equity Research Club where the research is for the equity enthusiasts by the equity experts or the buy side investors…</p>
			</div>
			<div class="col-sm-8">
				<div class="col-sm-12 pl-0">
					<h2><i class="fa fa-th" aria-hidden="true"></i> Member</h2>
					<p style="font-size: 17px;text-align: left;font-weight: 600;padding-top: 10px;margin-bottom: 0px;color: #ff5722;">Ideal for Equity Enthusiasts looking for Stock Ideas and investment opportunities in the Indian Market.</p>
				</div>
				<div class="row m-0 w-100">
					<div class="col-sm-6 pl-0">
						<p style="font-size: 17px;text-align: left;font-weight: 600;padding-top: 10px;margin-bottom: 0px;color: #ff5722;">Free Membership</p>
						<ul class="pl-4 pt-3">
							<li>Limited access to deep, data driven insights by validated experts who provide unbiased research.</li>
							<li>Exclusive invites for knowledgable investing events.</li>
							<li>No subscription fees.</li>
						</ul>
						<div class="col-sm-12 py-4 px-0 text-left">
							<a href="enrollment-form.php">Sign Up</a>
						</div>  
					</div>
					<div class="col-sm-6 pl-0">
						<p style="font-size: 17px;text-align: left;font-weight: 600;padding-top: 10px;margin-bottom: 0px;color: #ff5722;">Paid Membership</p>
						<ul class="pl-4 pt-3">
							<li>Unlimited access to deep, data driven insights by validated experts who provide unbiased research.</li>
							<li>Exclusive invites for knowledgable investing events.</li>
							<li>Nominal monthly subscription of Rs. 1000/- (Excluding 18% of GST).</li>
						</ul>
						<div class="col-sm-12 py-4 px-0 text-left">
							<p style="text-align: left;font-size: 17px;font-weight: 600;">We will be launching this membership soon.</p>        
							<a href="enrollment-form.php">Get Notified</a>
						</div>  
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<h2><i class="fa fa-th" aria-hidden="true"></i> ERC Contributor</h2>
				<p style="font-size: 17px;text-align: left;font-weight: 600;padding-top: 10px;margin-bottom: 0px;color: #ff5722;" align="justify">Ideal for  stock analysts, traders, economists, academics, financial advisors and industry experts who want to devote their own exemplary stock research and make a mark amongst other investors.</p>
				<ul class="pl-4 pt-3" align="justify">
					<li>Unlimited access to deep, data driven insights by validated experts who provide unbiased research.</li>
					<li>Exclusive invites for <strong>participation as a speaker</strong> in investing events.</li>
					<li>Annual subscription fee is <strong>waived off</strong>.</li>
					<li>Showcase your expertise in front of fund managers, employers, potential customers and investors.</li>
					<li>Potential customers and investors for your financial advisory.</li>
				</ul>      
				<div class="col-sm-12 py-4 px-0 text-left">
					<a role="button" id="openbox_member" style="cursor: pointer;" href="{% url 'enrollment_page' %}">Become a Contributor</a>
					<!-- <a role="button" id="openbox_member" style="cursor: pointer;" href="<?=ROOT_URI?>/edit-profile.php?uid=<?=$_SESSION['user_id']?>&type=contributor">Become a Contributor</a> -->
				</div>
			</div>
		</div>
	</div>
</section>
<section class="contact py-5" id="free_member_box" style="display: none;">
  <div class="container">
	<div class="row">
	  <div class="col-sm-3 text-left">
		<h2>Criteria for free membership</h2>
		<p>Atleast, one Insight Contribution on monthly basis is mandatory for meeting membership requirements.</p>
	  </div>
	  <div class="col-sm-3 text-center">
		<img src="{% static 'images/icon-1.png' %}">
		<p>Fill In Your Details.</p>
		<a href="enrollment-form.php" class="btn deatil_fill_btn">Click Here</a>
	  </div>
	  <div class="col-sm-3 text-center">
		<img src="{% static 'images/icon-2.png' %}">
		<p>We will review your profile and get back to you within 48 business hours</p>
	  </div>
	  <div class="col-sm-3 text-center">
		<img src="{% static 'images/icon-3.png' %}">
		<p>Once you are selected, you will be notified of the selection and can start contributing and improving your profile by providing more research and creating more followers</p>
	  </div>
	</div>
  </div>
</section>

{% include 'footer.html' %}