{% include 'header.html' %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Enrollment Page</h1>			
		</div>
	</div>
</div>

<form action="" name="enrollment-form" id="enrollment-form" method="post">
	{% csrf_token %}
	Name : <input type="text" name="name" id="name">
	Email : <input type="email" name="email" id="email">
	Phone : <input type="number" name="phone" id="phone">
	Password : <input type="password" name="passowrd" id="password">
	<input type="hidden" name="formname" id="formname" value="create_user">
	<input type="button" name="submit_button" id="submit_button" value="submit">
</form>

{% include 'footer.html' %}

<script>
	$(document).ready(function(event){
		//event.preventDefault();
		$('#submit_button').on('click', function(){
			var formdata = $("#enrollment-form").serialize();
			$.ajax({
				type: 'post',
				url: 'enrollment_from_submit',
				data: formdata,
				success: function(response){
					alert(response);
				}
			});
		});

	});
</script>