{% include 'header.html' %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Users List</h1>			
		</div>
		<div class="col-sm-12">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<th>UID</th>
						<th>Name</th>
						<th>Phone</th>
						<th>Email</th>
						<th>Address</th>
						<th>Action</th>
					</thead>
					<tbody>
						{% for user in users_list %}
							<tr>
								<td>{{user.id}}</td>
								<td>{{user.user_name}}</td>
								<td>{{user.user_phone}}</td>
								<td>{{user.user_email}}</td>
								<td>{{user.user_address}}</td>
								<td><a href="user_edit/{{user.id}}">edit</a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


{% include 'footer.html' %}
